/* .App {
  text-align: center;
  background-color: yellow;
} */
.welcome-bar{
  display: flex;
  background-color: aqua;
}
.title{
  margin-left: 50px;
}

.btn1{
  display: flex;
  margin-top: 10px;
  align-items: flex-end;
}

.data1{
  text-align:center;
}

form {
  position: relative;
  width: 220px;
  margin: 30px auto 20px auto;
  background: rgb(153, 153, 147);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input {
  width: 200px;
  margin-bottom: 8px;
}

form button {
  position: relative;
  left: 135px;
}

.back-button{
  margin-left: 31px;
}

.get-data{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.get-button{
  background-color: aqua; /* Green */
  /* border:blue; */
  border-color: aliceblue;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration:none;
  display: inline-block;
  font-size: 15px;
}

.getData{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 30px;
  
}
.data1{
  background-color:aliceblue;
  border-radius: 10px;
  
}








/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
